{% load static %}
<section class="features__area pt-120 pb-70">
    <div class="container tp-container">
       <div class="row">
          <div class="col-xxl-3 col-lg-4 col-md-6">
             <div class="features__item mb-30 theme-bg-dark">
                <div class="features__item-inner">
                   <div class="features__icon">
                      <img class="dark" src="{% static 'assets/img/icon/features/features-icon' %}-1.png" alt="">
                      <img class="light" src="{% static 'assets/img/icon/features/features-icon-1' %}-light.png" alt="">
                   </div>
                   <div class="features__content">
                      <h4 class="features__title">
                         Sürətli xidmət
                      </h4>
                      <p>Aldığınız məhsullar ən sürətli şəkildə müştərilərə çatdırılır.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-3 col-lg-4 col-md-6">
             <div class="features__item mb-30 yellow-bg theme-bg-dark">
                <div class="features__item-inner">
                   <div class="features__icon">
                      <img class="dark" src="{% static 'assets/img/icon/features/features-icon' %}-2.png" alt="">
                      <img class="light" src="{% static 'assets/img/icon/features/features-icon-2' %}-light.png" alt="">
                   </div>
                   <div class="features__content">
                      <h4 class="features__title">
                         Təhlükəsiz
                      </h4>
                      <p>Ən təhlükəsiz vasitələrlə ödənişləri həyata keçirə bilərsiniz.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-3 col-lg-4 col-md-6">
             <div class="features__item mb-30 green-bg theme-bg-dark">
                <div class="features__item-inner">
                   <div class="features__icon">
                      <img class="dark" src="{% static 'assets/img/icon/features/features-icon' %}-4.png" alt="">
                      <img class="light" src="{% static 'assets/img/icon/features/features-icon-4' %}-light.png" alt="">
                   </div>
                   <div class="features__content">
                      <h4 class="features__title">
                        Sərfəli qiymət
                      </h4>
                      <p>Endirimli və ən münasib qiymətə alış-verişdən zövq alın.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-3 col-lg-4 col-md-6">
             <div class="features__item mb-30 pink-bg theme-bg-dark">
                <div class="features__item-inner">
                   <div class="features__icon">
                      <img class="dark" src="{% static 'assets/img/icon/features/features-icon' %}-3.png" alt="">
                      <img class="light" src="{% static 'assets/img/icon/features/features-icon-3' %}-light.png" alt="">
                   </div>
                   <div class="features__content">
                      <h4 class="features__title">
                         Müştəri məmnuniyyəti
                      </h4>
                      <p>Müştərilərimizə keyfiyyətli xidmət göstərməkdən məmnunuq.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>